---
import Layout from '../layouts/Layout.astro';
import BotonEvento from '../components/BotonEvento.astro';
---

<Layout>
	<BotonEvento />
	<a href="intent://calendar/event?action=create&title=Reunión&details=Revisión+del+proyecto&location=Ciudad+de+México#Intent;scheme=content;package=com.android.calendar;end">Agregar en Android</a>
	<script type="module" src="/scripts/addToCalendar.js"></script>
</Layout>