---
import "../styles/global.css";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Calendar Evento</title>
	</head>
	<body class="grid min-h-screen place-content-center bg-gray-100 p-6">
		<slot />
	</body>
</html>